.report-box{
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: var(--defaultShadow);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;

}
.report-box.total{
    display: flex;
}
.report-box.total .report-box-item{
    flex: 50%;
    box-shadow: var(--defaultShadow);
    padding: 11px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.report-box-item .icon{
    font-size: 2.5rem;
}
.report-box-item div:last-child{
    display: flex;
    align-items: center;
}
.report-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.report-input-radio{
    height: 40px;
    /* min-width: 100px; */
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(41, 41, 41);

}
.report-input-radio input{
    width: 5px;
}
.report-input-radio label{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.report-input-radio input:checked +label{
    background-color:#0d6efd;
    color: white;
}

.report-input-row{
    display: flex;
    width: 100%;
    gap: 10px;

}
.report-input-date-picker{
    width: 100%;
}

/* .datepicker{
    height: 30px;
    width: 100px;
} */