
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Jua&family=Oswald:wght@200&family=Patrick+Hand&family=Poiret+One&family=Rye&family=Ubuntu&display=swap');

button:disabled{
    opacity: 70%;
}
.log-full{
    height: 100% !important;
}
.table-responsive{
    padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
    .follower.conversation>div>.name{
     display: none;
    }
    .Right-side-chat, .Left-side-chat{
     width:100vw;
    }
 }