.Main {
    width: 65%;
   height:auto;
    box-shadow: 2px 2px 15px 4px rgb(176 175 175 / 33%);
  

    border-radius: 8px;
 

}

.log-img {
    background-image: url('/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 4px rgb(176 175 175 / 33%);
    display: flex;
    justify-content: center;

}

.log-App-name {
    color: white;

    font-weight: 500;
}

.text-area {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

}

.text-name {
    font-size: 16px;
    font-weight: 600;
}

.log-btn {
    width: 18.5rem;
    background-color: #18649b;
    color: white;
    border-radius: 30px;
}

.log-full {

    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
    font-size: 16px;
    font-weight: 500;

}

.log-main-texts {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* adjust as needed */
    justify-content: space-between;
    align-items: center;

}

.log-App-subname {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.log-App-name {
    font-size: 27px;
    font-weight: 600;
    color: white;
}

.go-login h4 {
    color: #18649b;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.text-fileds {
}