.Mains {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.ag-signup-container {
    box-shadow: 0px 0px 10px 0px rgb(179, 179, 179);
    padding: 0px;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .ag-signup-container{
        width: 330px !important;
    }
}
.log-img {
    background-image: url('/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 4px rgb(176 175 175 / 33%);
    display: flex;
    justify-content: center;

}

.log-App-name {
    color: white;
    font-weight: 500;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.text-name {
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .text-name{
        font-size: 9px;
    }
}

.log-btn {
    width: 18.5rem;
    background-color: #18649b;
    color: white;
    border-radius: 30px;
}

.log-full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px 0px;
}

.error {
    color: red;
    font-size: 16px;
    font-weight: 500;

}

.log-main-texts {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* adjust as needed */
    justify-content: space-between;
    align-items: center;

}

.log-App-subname {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

@media screen and (max-width: 767px) {
    .log-App-subname {
        font-size: 9px;
    }
}

.log-App-name {
    font-size: 27px;
    font-weight: 600;
    color: white;
}

.go-login h4 {
    color: #18649b;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
