.admin-sidebar{
    height: 100vh;
    width: 300px;
    overflow-x: hidden;
    background-color: #fff;
    font-size: .95rem;
    transition: .3s;
    position: sticky;
    top: 55px;
    border-right: 1px solid rgb(243, 243, 243);
    z-index:120;
}

.admin-sidebar li{
    list-style: none;
}
.admin-sideitems{
    height: 50px;
    width: 100%;
    display: flex;
}
.admin-sideItem{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    font-weight: 550;
    border-radius: 5px;
    color: rgb(83, 83, 83);
    padding-left: 20px;
}
.admin-sideitems .side{
    width: 5px;
    height: 100%;
}
.admin-sideitems.active .side{
    width: 5px;
    height: 100%;
    background-color: var(--adminMain);
    border-radius: 0px 5px 5px 0px;
}
.admin-sideitems.active .admin-sideItem{
    padding: 25px;
    background-color: #f8f8f8;
}
.admin-sideitems.active .admin-sideItem{
    font-weight: 600;
    color: black;    
}
ol, ul{
    padding: 0px;
}
.admin-sideitems .icon{
    font-weight: 950;
}
@media(max-width:800px){
    .admin-sidebar{
        position: fixed;
        left: -100vw;
    }
    .admin-sidebar.open{
        width: 250px;
        overflow: hidden;
        position: fixed;
        left: 0vw;
    }
    .admin-main{
        min-height: 100vh;
    }

    .admin-sidebar.doctor{
        display: none;
    }
}